@import "../styles/defaults/colors";
@import "../styles/defaults/breakpoints";
@import "./utils";

footer {
    @include background-stuff();

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;

    a {
        i {
            color: rgba(red, green, blue, alpha);
            font-size: 24px;
        }
    }

    .info {
        color: rgba(red, green, blue, alpha);
    }
}
}

@media screen and (min-width: $medium) {
footer {
    .social-media {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
}